body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

form {
    padding: 20px;
}

fieldset {
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}

legend {
    font-size: 1.2em;
    padding: 0 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    left: 10px;
    border: 1px solid #000;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
}

/* Container for Status and Date */
.status-date-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: calc(100% - 110px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Adjust width for status and date */
.status-date-container input {
    width: 48%;
}

.radio-options {
    display: flex;
    justify-content: space-between;
}

.radio-options label {
    margin-right: 10px;
}

.comments-container {
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 20px;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
