* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
}

form {
    padding-top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 2px solid black;
    padding: 10px;
}

legend {
    font-weight: 500;
    margin-left: 3rem;
    border: 2px solid black;
    padding: 5px;
}

.independent-fields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}
